<div class="entity__group">
  <div class="entity__flex">
    <div class="entity__item_right">
      <span class="entity__name"><%= entity.name %></span>
      <span class="entity__sum">$ <%= entity.amount %></span>
    </div>
    <span class="entity__time"><%= entity.created_at.strftime("%d %B %Y") %></span>
  </div>
</div>